* {
  margin: 0;
  box-sizing: border-box;
  font-family: "playfair display sc", sans-serif;
}

$color: rgb(195, 105, 21);
$bg: rgb(85, 178, 193);
$text-color: #000;
$link-color: blue;
$border-color: yellow;

// default styles
ul {
  list-style: none;
}

.flex {
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

// banner

.banner {
  margin: auto;
  padding: 1rem 3rem;

  height: 5rem;

  .nav {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(193, 188, 188);

    .name {
      .dot {
        color: red;
      }
    }

    .menu {
      ul {
        gap: 4rem;
      }
    }

    .chat {
      input {
        background-color: white;
      }
    }
  }
}

// hero-section

.section1 {
  margin: auto;
  padding: 1rem 3rem;

  grid-template-columns: 70% 50%;
  grid-template-rows: 60% 40%;
  grid-template-areas:
    "one three"
    "two three";

  border: 1px solid black;
  min-height: 70vh;

  .div1 {
    grid-area: one;
    border: 1px solid black;
    flex-direction: column;

    .title {
      align-items: center;
      p {
        background: rgb(48, 48, 205);
        border-radius: 50px;
        width: 8%;
        font-size: 20px;
        text-align: center;
        height: fit-content;
        font-weight: bold;
      }
    }

    h1 {
      line-height: 50px;
      font-size: 36px;
    }
  }

  .div2 {
    grid-area: two;
    border: 1px solid black;
  }

  .div3 {
    grid-area: three;
    border: 1px solid black;
  }
}
